.root {
    display: flex;
    position: relative;
    width: 100%;
    height: 450px;
    background-color: var(--bg-red);

    &::after {
        bottom: -27px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
}

.contentAbout {
    width: 45%;
    padding-bottom: 20px;
}

.contentBanner {
    position: absolute;
    top: -64px;
    right: 0;
}

.contentBannerImg {
    max-width: 800px;
}

.title {
    font-size: 26px;
    line-height: 40px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 15px;
}

.text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 40px;
}

.buttonModal {
    position: relative;
    display: flex;
    max-width: 260px;
    height: 55px;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--white);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black-bold);
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    border-style: solid;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -20px;
        background-image: url('/images/YellowArrow.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}