.root {
    padding: 5% 0 120px;
}

.wrapper {
    position: relative;
    z-index: 3;
}

.title {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 5%;
    color: var(--black-menu);
    text-align: center;
}

.freeLesson {
    width: 350px;
    padding: 15px 20px;
    margin: 0 auto;
    margin-top: 105px;
}